<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="vSuperMTClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="vSupervisorDB" value="vsupervisorclient"/>
    <add key="vSupervisorApp" value="vSupervisorClient"/>
    <!--<add key="vBoardDB" value="vboardmtclientof"/>-->
    <add key="vBoardDB" value="vboardivr"/>
    <add key="vAcdDB" value="vivrmtclient"/>
    <add key="vIvrDB" value="vIVRMTClient"/>
    <add key="vRecordDB" value="vrecordmtclient"/>
    <add key="vCloudDB" value="vcloud"/>
    <add key="OnPremise" value="1"/>
    <add key="LogFile" value="vSupervisorLogs"/>
    <add key="LogPath" value=""/>
    <add key="LogSize" value="10"/>
    <add key="LogTotalFiles" value="10"/>
    <add key="LogDB" value="true"/>
    <add key="LogERROR" value="true"/>
    <add key="LogGENERAL" value="true"/>
    <add key="WSPort" value="6100"/>
    <add key="IsOXO" value="1"/>
    <add key="IsYBV" value="0"/>

	  <add key="SectionTitle" value="Proprietary Reports"/>
	  <add key="ReportIds" value="53,51,55,56"/>

	  <!--<add key="IsACD" value="0"/>-->
  </appSettings>
  <connectionStrings>
    <!--<add name="vCloudConnection" connectionString="server=10.2.30.180;user id=root;password='root';port=3306;database=vcloud"/>
    <add name="con" connectionString="server=10.2.30.180;user id=root;password='root';port=3306;database=vsupervisorclient"/>-->
    <!--<add name="vCloudConnection" connectionString="server=localhost;user id=root;password='12345';port=3306;database=vcloud"/>-->
    <add name="vCloudConnection" connectionString="server=192.168.0.53;user id=root123;password='root123';port=3306;database=vcloud"/>
    <!--<add name="con" connectionString="server=localhost;user id=root;password='12345';port=3306;database=vsupervisorclient"/>-->
    <add name="con" connectionString="server=192.168.0.53;user id=root123;password='root123';port=3306;database=vsupervisorclient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <pages/>
    <httpHandlers/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <handlers>
      <add name="sessionHeartBeat" preCondition="integratedMode" verb="GET,HEAD" path="SessionHeartbeat.ashx" type="SessionHeartbeatHttpHandler"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <vSuperMTClient.Properties.Settings>
      <setting name="vSupervisorMTClient_vBoardServiceRef_vBoardMTClientInfo"
        serializeAs="String">
        <value>http://192.168.0.53/vboardmtclientof/vBoardMTClientInfo.asmx</value>
      </setting>
    </vSuperMTClient.Properties.Settings>
  </applicationSettings>
</configuration>